amqp==5.2.0
asgiref==3.8.1
billiard==3.6.4.0
celery==5.2.7
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
Django==5.0.4
dnspython==2.6.1
environs==11.0.0
eventlet==0.36.1
greenlet==3.0.3
kombu==5.3.7
marshmallow==3.21.3
packaging==24.1
pillow==10.3.0
prompt-toolkit==3.0.43
python-dotenv==1.0.1
pytz==2024.1
sqlparse==0.5.0
tzdata==2024.1
vine==5.1.0
wcwidth==0.2.13
