{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>
    <div class="header-block">
        <div id="header">
            <a href="/" class="logo">Магазин LC</a>
        </div>
        <div class="auth-block">
            {% if user.is_authenticated %}
                <a href="{% url 'users:profile' %}">{{ user.username }}</a><span> | </span><form method='post' action="{% url 'users:logout' %}">{% csrf_token %}<button type="submit">Выйти</button></form>
            {% else %}
                <a href="{% url 'users:login' %}">Войти</a> |
                <a href="{% url 'users:register' %}">Регистрация</a>
            {% endif %}
        </div>
    </div>
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if total_items > 1 %}
                    Ваша корзина:
                    <a href="{% url 'cart:cart_detail' %}">
                        {{ total_items }}
                        товаров на сумму {{ cart.get_total_price }}
                    </a>
                {% elif total_items == 1 %}
                    Ваша корзина:
                    <a href="{% url 'cart:cart_detail' %}">
                        {{ total_items }}
                        товар на сумму {{ cart.get_total_price }}
                {% elif not order %}Ваша корзина пуста
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>